* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body {
    background-color: #000912;
    color: #FFFFFF;
}

.principal {
    margin-top: 30%;
    margin-left: 30px;
}

.principal .text-and-button h1 {
    font-size: 60px;
    letter-spacing: -3px;
    margin-bottom: 15px;
    width: 1000px;
}

.principal .text-and-button h1 span {
    color: #00a4fb;
}

.principal .text-and-button p {
    font-size: 20px;
    color: #BBB;
    margin-bottom: 15px;
}

.minhas-habilidades {
    margin-top: 200px;
}

.minhas-habilidades h3 {
    padding: 30px;
    margin-left: -25px;
}

.minhas-habilidades .habilidades-1 {
    padding: 15px;
    background-color: #F57300;
    color: #000;
    border-radius: 5px;
    font-size: 13px;
}

.minhas-habilidades .habilidades-2 {
    padding: 15px;
    background-color: #00a4fb;
    color: #000;
    border-radius: 5px;
    font-size: 13px;
}

.minhas-habilidades .habilidades-3 {
    padding: 15px;
    background-color: #F5E101;
    color: #000;
    border-radius: 5px;
    font-size: 13px;
}

/* Minha Foto */

.elements {
    padding: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px
}

.txt-and-photo img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #00a4fb;
    margin-bottom: 10px;
}

.txt-and-photo h3 {
    margin-left: 5px;
    color: #00a4fb
}


.txt-about-me h2 {
    letter-spacing: -2px;
    margin-bottom: 15px;
    color: #00a4fb;
}

.txt-about-me p {
    text-align: justify;
    color: #BBB;
}

/* Galeria de imagens dos projetos */

.galery-projetos {
    margin-left: 30px;
}

.titulo-seção { /*h2 projetos */
    font-size: 33px;
    letter-spacing: -1px;
    margin-bottom: 60px;
    margin-top: 200px;
}

.titulo-seção::after {
    content: '';
    position: absolute;
    left: 30px;
    margin-top: 45px;
    width: 150px;
    height: 5px;
    background-color:#00a4fb;
} 

.grade-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.currency-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #00a4fb;
}

.card-projetos {
    background-color: 	000912;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #00a4fb;
}

.info-projetos {
    padding: 20px;
    text-align: justify;
}

.info-projetos h3 {
    margin-bottom: 10px;
}

.info-projetos p {
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: justify;
}

.info-projetos a {
    color: #FFFFFF;
    font-weight: 500px;
    cursor: pointer;
    color: #00a4fb;
    text-decoration: none;
}

/*Redes sociais*/
.contato {
    margin-top: 50px;
    margin-left: 45px;
}

.contato h1 {
    font-size: 30px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.redes-sociais-1 {
    padding: 15px;
    background-color: #FF1493;
    color: #000;
    border-radius: 5px;
    margin-right: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.redes-sociais-2 {
    padding: 15px;
    background-color: #00FF7F;
    color: #000;
    border-radius: 5px;
    margin-right: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.redes-sociais-3 {
    padding: 15px;
    background-color: #1E90FF;
    color: #000;
    border-radius: 5px;
    margin-right: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 750px){
    body {
        background-color: #000912;
        color: #FFFFFF;
    }
    
    .principal {
        margin-top: 40%;
        margin-left: 30px;
    }
    
    .principal .text-and-button h1 {
        letter-spacing: -2px;
        margin-bottom: 15px;
        width: 1000px;
        font-size: 100px;
    }
    
    .principal .text-and-button h1 span {
        color: #00a4fb;
    }
    
    .principal .text-and-button p {
        font-size: 40px;
        width: 900px;
        color: #BBB;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    
    .minhas-habilidades {
        margin-top: 300px;
        display: grid;
        grid-column: 0 auto;
        margin-bottom: 35px;
        gap: 30px;
    }
    
    .minhas-habilidades h3 {
        padding: 30px;
        margin-left: -25px;
        font-size: 50px;
    }
    
    .minhas-habilidades .habilidades-1 {
        padding: 30px;
        background-color: #F57300;
        color: #000;
        border-radius: 5px;    
        font-size: 46px;    
        width: 500px;
    }
    
    .minhas-habilidades .habilidades-2 {
        padding: 30px;
        background-color: #00a4fb;
        color: #000;
        border-radius: 5px;
        font-size: 46px;
        width: 500px;
    }
    
    .minhas-habilidades .habilidades-3 {
        padding: 30px;
        background-color: #F5E101;
        color: #000;
        border-radius: 5px;
        font-size: 46px;
        width: 500px;
    }
    
    /* Minha Foto */
    
    .elements {
        padding: 30px;
        margin-top: 100px;
        display: inline-block;
    }
    
    .txt-and-photo img {
        width: 900px;
        height: 900px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #00a4fb;
        margin-bottom: 10px;
        margin-left: 50px;
    }
    
    .txt-and-photo h3 {
        margin-left: 5px;
        color: #00a4fb;
        font-size: 45px;
        margin-left: 50px;
    }
    
    
    .txt-about-me h2 {
        letter-spacing: -2px;
        margin-top: 50px;
        margin-bottom: 15px;
        color: #00a4fb;
        margin-left: 30px;
        font-size: 45px;
    }
    
    .txt-about-me p {
        text-align: justify;
        width: 1000px;
        margin-left: 30px;
        color: #BBB;
        font-size: 50px;
    }

    /*Redes sociais*/
    .contato {
        width: 100vw;
        height: 40vh;
        margin-top: 50px;
        
        display: grid;
        grid-template-columns: max-content;
    }
    
    .contato h1 {
        font-size: 53px;
        letter-spacing: -1px;
        margin-bottom: 10px;
    }
    
    .redes-sociais-1 {
        padding: 30px;
        background-color: #FF1493;
        color: #000;
        border-radius: 5px;
        margin-right: 20px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        font-size: 40px;
    }
    
    .redes-sociais-2 {
        padding: 30px;
        background-color: #00FF7F;
        color: #000;
        border-radius: 5px;
        margin-right: 20px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        font-size: 40px;
    }
    
    .redes-sociais-3 {
        padding: 30px;
        background-color: #1E90FF;
        color: #000;
        border-radius: 5px;
        margin-right: 20px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        font-size: 40px;
    }
}